<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Published Date</th>
      <th scope="col">Created At</th>
      <th scope="col">Updated At</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% if object_list %} {% for book in object_list %}
    <tr>
      <td><a href="/dashboard/books/{{ book.id }}/">{{ book.title }}</a></td>
      <td>{{ book.category.name }}</td>
      <td>{{ book.description }}</td>
      <td>{{ book.publish_date }}</td>
      <td>{{ book.created_at }}</td>
      <td>{{ book.updated_at }}</td>
      <td>
        <div class="d-flex gap-2">
          <a
            class="btn btn-success"
            href="/dashboard/books/{{ book.id }}/update"
          >
            <i class="bi bi-pencil-square"></i>
          </a>
          <a
            class="btn btn-danger"
            href="/dashboard/books/{{ book.id }}/delete/"
          >
            <i class="bi bi-trash3-fill"></i>
          </a>
        </div>
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr class="w-100">
      <td></td>
      <td></td>
      <td></td>
      <td>
        <p>Data Empty</p>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% include "pagination.html" %}