
  <table class="table table-hover">
    <thead>
      <tr class="table-primary">
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
        <th scope="col">Account Number</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% if members %} {% for member in members %}
      <tr class="text-truncate">
        <td>{{ member.name }}</td>
        <td>{{ member.email }}</td>
        <td>{{ member.created_at }}</td>
        <td>{{ member.updated_at }}</td>
        <td>{{ member.account_number }}</td>
        <td class="d-flex gap-2">
          <a
            class="btn btn-success"
            href="/dashboard/members/{{ member.id }}/update/"
          >
            <i class="bi bi-pencil-square"></i>
          </a>
          <button
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#member_delete_modal_{{ member.id }}"
          >
            <i class="bi bi-trash3-fill"></i>
          </button>
        </td>
      </tr>
      {% endfor %} {% else %}
      <tr class="w-100">
        <td></td>
        <td></td>
        <td></td>
        <td>
          <p>Data Empty</p>
        </td>
        <td></td>
        <td></td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
