{% extends "layout.html" %} {% block dashboard %}
<div style="max-width: 80vw" class="w-100 p-4">
  <h1 class="h2">Reports</h1>
  <div class="row container pt-5">{% include "dashboard/summary.html" %}</div>
  <div class="row container pt-5">
    {% include "dashboard/overdue_loan.html" %}
  </div>
  <div class="row container pt-5">
    {% include "dashboard/near_overdue_loan.html" %}
  </div>
  <div class="row container pt-5">
    {% include "dashboard/login_history.html" %}
  </div>
</div>
{% endblock dashboard %}
