<div class="card-header">
  <h2 class="h4">Overdue Book Loan</h2>
</div>
<div class="card-body">
  <table class="table table-striped">
    <thead>
      <tr class="table-primary">
        <th scope="col">Book Title</th>
        <th scope="col">Due Date</th>
      </tr>
    </thead>
    <tbody>
      {% if overdue_loans %} {% for loan in overdue_loans %}
      <tr>
        <td>{{ loan.book.title }}</td>
        <td>{{ loan.due_date }}</td>
      </tr>
      {% endfor %} {% else %}
      <tr>
        <td>No Data</td>
        <td></td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
