{% extends "base.html" %} {% block content %}
<main
  style="min-height: 100vh"
  class="w-100 h-100 bg-body-secondary d-flex flex-column justify-content-center align-items-center"
>
  <h2 class="h3">Welcome to</h2>
  <h1 class="h1">Django Library Management System</h1>

  <section
    class="d-flex flex-column justify-content-center align-items-center my-3 w-100"
  >
    <h4 class="h4">Let's get started</h4>
    <div class="d-flex gap-2 my-2">
      <a href="/auth/login" class="btn btn-outline-primary">Login</a>
      <a href="/auth/sign-up" class="btn btn-primary">Sign Up</a>
    </div>
  </section>
</main>
{% endblock content %}
