<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
        >Previous</a
      >
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link disabled" href="#">Previous</a>
    </li>
    {% endif %} {% for index in page_obj.paginator.page_range %}
    <li class="page-item {% if page_obj.number == index %}active{% endif %}">
      <a class="page-link" href="?page={{ index }}">{{ index }}</a>
    </li>
    {% endfor %} {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{  page_obj.next_page_number }}"
        >Next</a
      >
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link disabled" href="#">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
