<div class="dropdown">
  <button class="w-100 btn btn-primary" type="button" data-bs-toggle="dropdown">
    <i class="bi bi-person-circle"></i>
    {% if user %} {{ user.name }} {% endif %}
  </button>
  <ul class="w-100 dropdown-menu shadow">
    <li>
      <a class="dropdown-item" href="#"
        ><i class="bi bi-person-fill-gear"></i> settings</a
      >
    </li>
    <li>
      <a class="dropdown-item" href="/auth/logout/"
        ><i class="bi bi-box-arrow-left"></i> logout</a
      >
    </li>
  </ul>
</div>
