{% extends "layout.html" %} {% block dashboard %}
<div style="max-width: 80vw" class="w-100 p-4">
  <div class="d-flex flex-column gap-2 mb-4">
    <form
      id="book_loan_update_modal_{{ loan.id }}"
      action="/dashboard/book-loans/{{ loan.id }}/update/"
      method="POST"
    >
      {% csrf_token %}
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header justify-content-between">
            <h1 class="fs-4">Input Data</h1>
            <div class="d-flex gap-2 my-2">
              <a href="/dashboard/book-loans/" class="btn btn-secondary">
                Cancel
              </a>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <div class="modal-body">
            <label for="book">Book</label>
            <select id="book" name="book" class="form-select">
              {% for book in books %}
              <option value="{{ book.id }}">{{ book.title }}</option>
              {% endfor %}
            </select>

            <label for="member">Member</label>
            <select id="member" name="member" class="form-select">
              {% for member in members %}
              <option value="{{ member.id }}">{{ member.name }}</option>
              {% endfor %}
            </select>

            {{ form.as_p }}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock dashboard %}
