{% extends "layout.html" %} {% block dashboard %}
<div class="w-100 p-4">
  {% include "book_loan_create_form.html" %}
  <div class="d-flex gap-2 mb-4">
    {% include "order_form.html" %}
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#book_loan_modal_create"
    >
      <i class="bi bi-plus-circle"></i> Add Book Loan
    </button>
  </div>
  {% include "book_loan_table_data.html" %}
</div>
{% include "book_loan_delete_form.html" %} {% endblock dashboard %}
