{% extends "layout.html" %} {% block dashboard %}
<div style="max-width: 80vw" class="w-100 p-4">
  <div class="d-flex flex-column gap-2 mb-4">
    <form
      id="book_update_modal_{{ book_id }}"
      action="/dashboard/books/{{ book_id }}/update/"
      method="POST"
    >
      {% csrf_token %}
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Input Data</h1>
          </div>
          <div class="modal-body">
            {% for field in form %}
            <div class="form-outline form-white mb-3">{{ field }}</div>
            {% endfor %}
            <div class="d-flex gap-2">
              <a href="/dashboard/books/" class="btn btn-secondary"> Cancel </a>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock dashboard %}
