{% extends "layout.html" %} {% block dashboard %}
<div style="max-width: 80vw" class="w-100 p-4">
  {% include "librarians_delete_form.html" %}
  <div class="d-flex flex-column gap-2 mb-4">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#librarian_modal_create"
    >
      <i class="bi bi-plus-circle"></i> Add Librarian
    </button>
    {% include "librarians_create_form.html" %}
  </div>
  {% include "librarians_table_data.html" %}
</div>
{% endblock dashboard %}
