<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">
        <button class="btn">
          <i class="bi bi-arrow-down-up"></i>
        </button>
        Name
      </th>
      <th scope="col">
        <button class="btn">
          <i class="bi bi-arrow-down-up"></i>
        </button>
        Email
      </th>
      <th scope="col">
        <button class="btn">
          <i class="bi bi-arrow-down-up"></i>
        </button>
        Created At
      </th>
      <th scope="col">
        <button class="btn">
          <i class="bi bi-arrow-down-up"></i>
        </button>
        Updated At
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% if librarians %} {% for librarian in librarians %}
    <tr>
      <td>{{ librarian.name }}</td>
      <td>{{ librarian.email }}</td>
      <td>{{ librarian.created_at }}</td>
      <td>{{ librarian.updated_at }}</td>
      <td class="d-flex gap-2">
        <a
          class="btn btn-success"
          href="/dashboard/librarians/{{ librarian.id }}/update/"
        >
          <i class="bi bi-pencil-square"></i>
        </a>
        <button
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#librarian_delete_modal_{{ librarian.id }}"
        >
          <i class="bi bi-trash3-fill"></i>
        </button>
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr class="w-100">
      <td></td>
      <td></td>
      <td>
        <p>Data Empty</p>
      </td>
      <td></td>
      <td></td>
    </tr>
    {% endif %}
  </tbody>
</table>
