<div class="card-header d-flex justify-content-between">
  <h2 class="h4">Overdued Book Loan</h2>
  <a href="/dashboard/overdued-loans/" class="btn btn-primary"
    >See All Overdued Loans</a
  >
</div>
<div class="card-body">
  <table class="table table-striped">
    <thead>
      <tr class="table-primary">
        <th scope="col">Book Title</th>
        <th scope="col">Due Date</th>
        <th scope="col">Loan Date</th>
      </tr>
    </thead>
    <tbody>
      {% if overdue_loans %} {% for loan in overdue_loans %}
      <tr>
        <td>{{ loan.book.title }}</td>
        <td>{{ loan.due_date }}</td>
        <td>{{ loan.loan_date }}</td>
      </tr>
      {% endfor %} {% else %}
      <tr>
        <td>No Data</td>
        <td></td>
        <td></td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
