<div class="card-header">
  <h3 class="h4">At a Glance</h3>
</div>
<div class="card-body row container text-center">
  <div class="col">
    <div class="card h-100 d-flex flex-column">
      <div class="card-body row align-content-center">
        <h5 class="card-title"><i class="bi bi-book-half"></i> Total Book</h5>
        <p class="h1">{{ total_book }}</p>
      </div>
      <div class="card-footer">
        <a href="/books/" class="w-100 btn btn-primary"
          >Explore Book</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 d-flex flex-column">
      <div class="card-body row align-content-center">
        <h5 class="card-title">
          <i class="bi bi-book-half"></i> Total Category
        </h5>
        <p class="h1">{{ total_category }}</p>
      </div>
      <div class="card-footer">
        <a href="/books/categories/" class="w-100 btn btn-primary"
          >Explore Categories</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body row align-content-center">
        <h5 class="card-title">
          <i class="bi bi-person-vcard"></i> Total Member
        </h5>
        <p class="h1">{{ total_member }}</p>
      </div>
      <div class="card-footer">
        <a href="/users/members/" class="w-100 btn btn-primary"
          >Go to Member</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body row align-content-center">
        <h5 class="card-title">
          <i class="bi bi-calendar-week"></i> Book Loan
        </h5>
        <div class="d-flex justify-content-center gap-2">
          <div class="card">
            <div class="card-header">Total</div>
            <p class="h1">{{ total_book_loans }}</p>
          </div>
          <div class="card">
            <div class="card-header">Upcoming</div>
            <p class="h1">{{ total_upcoming }}</p>
          </div>
          <div class="card">
            <div class="card-header">Overdue</div>
            <p class="h1">{{ total_overdue }}</p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a href="/book-loans/" class="w-100 btn btn-primary"
          >Go to Book Loans</a
        >
      </div>
    </div>
  </div>
</div>
