<div class="d-flex flex-column gap-2">
  <button
    class="w-100 btn btn-primary text-start d-flex justify-content-center gap-2"
    type="button"
    data-bs-toggle="dropdown"
  >
    <i class="bi bi-person-circle"></i>
    {% if user %} <span class="text-truncate">{{ user.username }}</span> {% endif %}
  </button>
  <a
    class="w-100 btn btn-outline-primary border-white text-white text-start"
    href="/users/librarians/{{ librarian_id }}/"
    ><i class="bi bi-person-fill-gear"></i> profile</a
  >
  <a
    class="w-100 btn btn-outline-primary border-white text-white text-start"
    href="/users/auth/logout/"
    ><i class="bi bi-box-arrow-left"></i> logout</a
  >
  <hr class="border-white" />
</div>
